#ZTEMT ADD for NUBIATEL
service nubiatel /system/bin/sh /system/bin/nubiatel all enable
    class main
	user system
    disabled
#END

#ZTEMT ADD for NBSecurity
service nubia_rt /system/bin/app_process /system/framework cn.nubia.security.core.service.ServiceRun
	class main
    disabled				
#END

#ztemt add for nubia powermanage	
service nproot /system/bin/app_process /system/framework cn.nubia.powermanage.service.MainServiceThread
    class main
    user root
    group root
    disabled
    oneshot
#ztemt add end

on property:sys.nubiatel.start=1
   start nubiatel
   start nubia_rt
   start nproot

on property:sys.nubiatel.start=0
	stop nubia_rt
    stop nproot	

